#result-page {
  font-size: 125%;
  margin-top: 50px;
}

#result-page-heading {
  text-align: center;
  font-size: 250%;
  color: rgb(138, 78, 0);
}

/* Should probably make these classes */
#result-table ,#final-score-table {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

#result-table td ,#final-score-table td {
  vertical-align: middle;
  padding: 20px;
} 

#result-table-headings, #final-score-table-heading {
  background-color: rgba(86, 181, 42, 0.356);
}

#question-heading {
  width: 50%;
}

.btn-primary {
  color: black;
  background-color: rgba(86, 181, 42, 0.13);
  border-color: white;
}

.btn-primary:hover {
  color: black;
  background-color: rgba(86, 181, 42, 0.356);
  border-color: black;
}