{% extends "base_content.html" %}

{% block inContainer %}

<div class="row justify-content-center">
  <div class="col-sm-6 align-self-start p-3 form-col">

    <p class="page-heading">Sign In</p>

    <form class="form-signin" action="" method="post" novalidate>
      {{ form.hidden_tag() }}

      <div class="form-group my-5">
          {{ form.username.label(class_="page-subheading") }}<br>
          {{ form.username(size=32, class_="form-control form-control-lg input") }}<br>
          {% for error in form.username.errors %}
          <span class="wrong">[{{ error }}]</span>
          {% endfor %}
      </div>

      <div class="form-group my-5">
        {{ form.password.label(class_="page-subheading") }}<br>
        {{ form.password(size=64, class_="form-control form-control-lg input") }}<br>
        {% for error in form.password.errors %}
        <span class="wrong">[{{ error }}]</span>
        {% endfor %}
      </div>

      <div class="form-group">
        {{ form.submit(class_="btn btn-block btn-primary btn-lg shadow-none") }}
      </div>
    </form>

    <a class="form-link" href="{{ url_for('register') }}">Don't have an account?</a>


  </div>
</div>

    
    
  


{% endblock %}