{% extends "base_content.html" %}

{% block inContainer %}

  <style>
    
    .form_box { 
      box-shadow: wheat;
      background-color: lightcyan;
      margin-top: 60px;
      margin-left: 20%;
      margin-right: 20%;
      border-style: solid;
      padding: 40px;

    }
    .sign_in_heading {
      margin-top: 35px;
      font-size: 50px;
      color: green;
    }
    .label{
      font-weight: bold;
      font-size: 17px;
      margin-top: 20px;

    }
    .input {
      background-color: white;
      border-style: solid;
      border-width: 1px;
      width: auto;
      height: 45px;
    }
    .input:hover {
      border-color: springgreen;
    }
    .input:focus {
      border-color: springgreen;
      outline-color: springgreen;
    }
    .submit {
      border-radius: 5px;
      text-align: center;
      border-style: solid;
      border-width: 1px;
      color: white;
      background-color: springgreen;
      font-size: 30px;
      margin-top: 35px;
      width: auto;
      height: 45px;
    }
    .submit:hover {
      opacity: 70%;
    }


  </style>

    <div class="container">

      <div class="row justify-content-center">
        <div class="col-sm-4 d-flex justify-content-center">
          <div class="col-sm-4 d-flex justify-content-center">
            <p class="sign_in_heading">Kodin</p>
          </div>
          
        </div>
      </div>
  
      <div class="row justify-content-center">
        <div class="col-sm-4 d-flex justify-content-center">
          <form class="form-signin" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
              {{ form.username.label(class_="label") }}
              {{ form.username(size=32, class_="input form-control") }}
              {% for error in form.username.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
  
            <div class="form-group">
              {{ form.password.label(class_="label") }}
              {{ form.password(size=32, class_="input form-control") }}
              {% for error in form.password.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
  
  
          </form>
  
        </div>
      </div>
  
      <div class="row justify-content-center">
        <div class="col-sm-4 d-flex align-items-center justify-content-center">
          {{ form.submit(class_="submit") }}
          
        </div>
  
      </div>


      
    </div>

    
    
  
  

  <!-- <h1>Sign In</h1>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{form.remember_me.label }}</p>
    <p>{{ form.submit() }} </p>
  </form>

  <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p> -->

{% endblock %}