{% extends "base.html" %}



{% block content %}


<form method="post">

  <div id="test">
    {{ form.hidden_tag() }}

    <table>
    <tr>
      <td>Q1: {{ form.question1.label }}</td>
    </tr>
    {% for subfield in form.question1 %}
    <tr>
        <td>{{ subfield }} {{ subfield.label }}</td>
    </tr>
    {% endfor %}
    {% for error in form.question1.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </table>
    
    <br>
    
    <table>
    <tr>
      <td>Q2: {{ form.question2.label }}</td>
    </tr>
    {% for subfield in form.question2 %}
    <tr>
        <td>{{ subfield }} {{ subfield.label }}</td>
    </tr>
    {% endfor %}
    {% for error in form.question2.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </table>
    <br>
    
    
    <table>
    <tr>
      <td>Q3: {{ form.question3.label }}</td>
    </tr>
    {% for subfield in form.question3 %}
    <tr>
        <td>{{ subfield }} {{ subfield.label }}</td>
    </tr>
    {% endfor %}
    {% for error in form.question3.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </table>
    
    <br>
    <p>{{ form.submit() }}</p>
  </div>

</form>

{% endblock %}