{% extends "base_content.html" %}

{% block inContainer %}
    <h1 class="page-heading" style="text-align:center;">DFS Quiz</h1>
    <div id="quizIntro" style="text-align:center;">
      <button 
      class="btn btn-primary btn-lg shadow-none"
      id="start" 
      onclick=startQuizClick()>
        {% if current_user.has_saved_attempt %}
        Resume Quiz
        {% else %}
        Start Quiz
        {% endif %}
      </button>
    </div>

    <script>
        function startQuizClick() {
            window.location.href="{{ url_for('quiz_questions') }}";
        }
    </script>

{% endblock %}