{% extends "base.html" %}

{% block content %}

  <table>
    <tr valign="top">
      <td><img src="{{ user.avatar(128) }}"</td>
      <td> 
        <h1>User: {{user.username}}</h1>
        {% if user.last_seen %}
        <p>
          Last seen on: {{ user.last_seen }}
        </p>
        {% endif %}
      </td>
    </tr>
  </table>
  <hr>

  {% if numAttempts > 0 %}
  <div>
    <p>You have attempted the quiz {{ numAttempts }} times.<p>
    <p>Your average quiz result is {{ average }}%<p>
  </div>
    
  {% for attempt in attempts %}
  <p>
    Quiz attempt {{ attempt.attempt_id }} score : <b>{{ attempt.score }}</b>
      - {{ attempt.attempt_datetime }}
  </p>
  {% endfor %}
  {% else %}
  <p>You have not attempted the quiz yet.</p>
  <a href="{{ url_for('quiz') }}">Click here to attempt the quiz.</a>
  {% endif %}


{% endblock %}