{% extends "base.html" %}

{% block content %}

<h1>User Statistics</h1>

<h2>All Users</h2>
<table class="table table-bordered">
  <tr class="active">
    <td>Total Logins</td><td>Average Score</td>
  </tr>
  <tr>
    <td>{{ totals["login_attempts"] }}</td>
    {% if not totals["average"] and totals["average"] != 0 %}
    <td>No one has attempted the quiz</td>
    {% else %}
    <td>{{ totals["average"] }}%</td>
    {%  endif  %}
  </tr>
</table>

{% for user, stats in user_info %}
<h2>
  {% if stats.num_quiz_attempts > 0 %}
  <a href="{{ url_for('user_attempts', username=user.username) }}">
    {{ user.username}}
  </a>
  {% else %}
  {{ user.username}}
  {% endif %}
</h2>

<table class="table table-bordered">
  <tr class="active">
    <td>Registered On</td><td>Last Seen</td><td>Login Count</td>
  </tr>
  <tr>
    <td>{{ stats.registered_on }}</td>
    <td>{{ stats.last_seen }}</td>
    <td>{{ stats.num_logins }}</td>
  </tr>
  <tr class="active">
    <td># of Quiz Attempts</td><td>Highest Score</td><td>Average</td>
  </tr>
  <tr>
    <td>{{ stats.num_quiz_attempts }}</td>
    {% if not stats.highest_score and stats.highest_score != 0%}
    <td>No attempts</td>
    <td>No attempts</td>
    {% else %}
    <td>{{ stats.highest_score }}%</td>
    <td>{{ stats.average_score }}%</td>
    {% endif %}
  </tr>
</table>

{% endfor %}

{% endblock %}